.message {
  /* border: 2px solid greenyellow; */
  display: flex;
  margin-top: 30px;
  margin-left: 70px;
  align-items: center;
  width: 80%;
}

.message img {
  margin-right: 10px;
  border-radius: 7px;
}

.message_user_info span {
  display: inline-block;
  margin-right: 10px;
}

.message_username {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #828282;
}

.message_user_info time {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #828282;
}

.message_text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #e0e0e0;
  margin-left: 125px;
  margin-right: 40px;
  margin-top: -10px;
}
