.welcome {
  display: flex;
  flex-direction: column;
  background: #0b090c;
  padding: 20px;
  width: 600px;
  height: 400px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 130px;
  border-radius: 8px;
}

.welcome_message {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #828282;
  margin-bottom: 35px;
}

.welcome p {
  font-size: 18px;
  color: #828282;
  width: 80%;
}
