:root {
  --text_grey: #828282;
}

.member_list {
  margin-left: 30px;
  margin-top: 30px;
}

.members_header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: var(--text_grey);
  margin-left: 30px;
  margin-top: 30px;
}

.member_info {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.member_info > img {
  border-radius: 7px;
  margin-right: 20px;
}

.member_name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #828282;
  text-transform: capitalize;
}
