.sidebar_header > p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #e0e0e0;
}

.sidebar_header > button {
  width: 32px;
  height: 32px;
  border: none;
  background: #252329;
  border-radius: 8px;
  font-size: 24px;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_header > button:hover {
  cursor: pointer;
}
