.messages {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  width: 80%;
  margin: 30px auto;
}

.messages img {
  margin-right: 10px;
  border-radius: 7px;
}

.messages_user_info span {
  display: inline-block;
  margin-right: 10px;
}

.messages_username {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #828282;
}

.messages_user_info time {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #828282;
}

.messages_text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #e0e0e0;
  margin-bottom: -10px;
}
