.channel_name,
.channel_description {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  text-transform: capitalize;
  color: #e0e0e0;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 10px;
}
